body{
    background-image:url(pexels-iriser-1379640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
}
#box{
    width: 950px;
    height: 580px;
    background-color:white;
    margin-left: 300px;
    margin-right: 800px;
}

.button{
    background-color:green;
    color: white;
}
textarea{
    width: 300px;
    height:45px;
}
